@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<AppProduct.Models.ClientModel>
}
<table style="width:100%">
    <tr style="height:32px;background-color:aquamarine;border-top:1px solid black;border-bottom:1px solid black">
        <td style="width:20%;border-right:1px solid black">Id</td>
        <td style="width:20%;border-right:1px solid black">Клиент</td>
        <td style="width:80%">Возраст</td>
    </tr>
    @foreach(var client in Model)
    {
        <tr style="height:32px;background-color:antiquewhite;border-bottom:1px solid black">
                <td style = "border-right:1px solid black">@client.Id</td>
            <td style = "border-right:1px solid black">@client.Name</td>
            <td>@client.Age</td>
        </tr>
    }
</table>

